################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ordering.Domain/.vs/Ordering.Domain/FileContentIndex
