################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ordering.Domain/.vs/Ordering.Domain/FileContentIndex
/Ordering.API/Ordering.API/bin/Debug/net8.0
/Ordering.API/Ordering.API/obj
/.vs/Ordering.Domain/FileContentIndex
/.vs/Ordering/FileContentIndex
/Ordering.UnitTests/bin
/Ordering.UnitTests/obj
/Ordering.Infrastructure/bin
/Ordering.Infrastructure/obj
/Ordering.FunctionalTests/bin
/Ordering.FunctionalTests/obj
/Ordering.Domain/bin
/Ordering.Domain/obj
/Ordering.Application/bin
/Ordering.Application/obj
/Ordering.API/obj
/Ordering.API/bin
/BuildingBlocks/obj
/BuildingBlocks/bin
/.vs/Ordering/DesignTimeBuild/.dtbcache.v2
/.vs/Ordering/v17/.futdcache.v2
/.vs/ProjectEvaluation/ordering.metadata.v8.bin
/.vs/ProjectEvaluation/ordering.projects.v8.bin
/.vs/Ordering/v17/TestStore/1/012.testlog
/.vs/Ordering/v17/TestStore/1/018.testlog
