################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ordering.Domain/.vs/Ordering.Domain/FileContentIndex
/Ordering.API/Ordering.API/bin/Debug/net8.0
/Ordering.API/Ordering.API/obj
